{%load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Code Clinics_.</title>
    <link href = {% static 'styling.css' %} rel='stylesheet' type="text/css" />
</head>
<body>
    <main>
        <div class="nav">
            <ul id="nav">
                <a href="">Home_</a>
                <a href="">Boookings_</a>
                <a href="">View_</a>
                {% comment %} <a href="">Cancellation_</a> {% endcomment %}
            </ul>
        </div>
        <div class = "section_A">
            <h1>Welcome to Code Clinic_</h1>
            <p>Developer Community Service Platform.</p>
        </div>
        <div  class="section_B">
            <h1>Authorized Access</h1>
            <a href ="{% url 'sign' %}">Sign Up</a>
        
    </main>
</body>
</html>